$primorange: #e17055;
$primyellow: #fdcb6e;
$accentgold: #f39c12;
$textdark: #4A4A4A;
$textgray: #6B6B6B;
$footdark: #2d3436;
$footgray: #636e72;
$gray: #8B7D6B;
$beige: #7A6F5D;
$hardbeige: #A0937D;
$coldbeige: #7A6F5D;
$warmbeige: #9C8F7A;
$contentbeige: #E6D2B5;
$contentbeige2: #D4C4A8;
$footertext: #A8B2B8;